@import url(https://fonts.googleapis.com/css?family=Raleway:400&subset=latin,latin-ext);

body {
    font-family: 'Raleway';
    box-sizing: 0;
    text-align: center;
    background-color: #DDFFF7;
}

h1 {
    color: #AA4465;
}

#above {
    margin-top: 5vh;
}

button {
    border: 1px solid #DDFFF7;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 1vh;
    background-color: #462255;
    color: #DDFFF7;
}

button:hover {
    cursor: pointer;
    border: 1px solid black;
}